* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
 body{
    height: 100vh;
    width: 100%;
    background-image: url(/assets/daftar.png);
    background-color: black;
    background-size: cover;
    background-position: center;
 }
 nav{
    display: flex;
    float: center;
    padding-top: 10px;
    padding-left: 85%;
    
}


img{
    position: absolute;
    top: -10px;
    left: 25px;
    width: 120px;
    height: 120px;
}

.gambar img{
    position: absolute;
    top: 300px;
    left: 230px;
    width: 450px;
    height: 430px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding:  10px;
    border-radius: 10px;
    font-weight: bold;
    float: left;
    display: flex;
}

nav ul li a:hover,
navigation a.active{
    color: #ffffff;
    background: rgb(0, 0, 0);
}


 span{
    color: #FBBA67;
 }

h1{
    font-size: 40px;
    text-align: center;
    margin-left: 90px;
    padding: 80px 0px 10px;
}

p{
    padding: 18px;
    color: white;
}

.content p{
    position: absolute;
    color: #FBBA67;
    font-family: 'Syne';
    margin-left: 60px;
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
}

form {
    max-width: 300px;
    margin-left: 50%;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    select {
    border: none;
    font-size: 16px;
    color: white;
    padding: 15px;
    width: 100%;
    backdrop-filter: blur(5px) saturate(120%);
    background-color: rgba(53, 54, 56, 0.25);
    border-radius: 15px;
    border: 1px solid rgb(106, 105, 105);  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    }
    

    
.btn {
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 485PX;
    width: 50%;
}

.btn a{
    padding: 18px 80px 18px;
    color: white;
    backdrop-filter: blur(8px) saturate(100%);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 1px solid rgb(106, 105, 105);  
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    
    }

.text{
    display: flex;
}

.text p{
    font-size: 18px;
    margin-top: 40px;
    margin-left: 755PX;
}
.text .btn-masuk{
    font-size: 18px;
    margin-top: 60px;
    margin-left: 10PX;
    color: white;
    text-decoration: underline;
    transition: transform .4s;
}

.btn-masuk:hover{
    transform: scale(1.2);
}
    
    fieldset {
    margin-bottom: 10px;
    border: none;
    }
    

    
    @media screen and (min-width: 480px) {
    
    form {
    max-width: 480px;
    }

}